/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 80px;
  background: #ffffff;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

/* Container */
.container {
  width: 100%;
  margin: 0;
  padding: 0 30px; /*side spacing */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-nav {
  display: flex;
  align-items: center;
  gap: 100px; /* controls spacing */
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 120px;
}

.logo img {
  height: 50px;
}

.logo span {
  font-family: "Amiri", serif;
  font-size: 18px;
  color: #111;
  white-space: nowrap;
  
}

/* Nav Links */
.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  margin-left: 100px;
}

.nav-links a {
  text-decoration: none;
  font-family: "Amiri", serif;
  font-size: 18px;
  color: #000;
}

.nav-links a:hover,
.nav-links a.active {
  color: #d99a3d;
  border-bottom: 2px solid #d99a3d;
}

/* Right Side */
.nav-action {
  margin-left: auto;
}

.nav-action a {
  text-decoration: none;
  font-family: "Amiri", serif;
  font-size: 18px;
  color: #000;
}

.nav-action a:hover {
  color: #d99a3d;
}

/*responsive*/
/* =========================
   Laptop / Medium Screen
========================= */
@media (max-width: 1200px) {
  .container {
    padding: 10px 25px;
  }

  .nav-links {
    margin-left: 60px;
    gap: 24px;
  }
}

/* =========================
   Tablet
========================= */
@media (max-width: 900px) {
  .container {
    padding: 10px 20px;
  }

  .logo img {
    height: 45px;
  }

  .logo span {
    font-size: 18px;
  }

  .nav-links {
    margin-left: 35px;
    gap: 18px;
  }

  .nav-links a,
  .nav-action a {
    font-size: 17px;
  }
}

/* =========================
   Small Tablet / Large Phone
========================= */
@media (max-width: 768px) {
  .navbar {
    min-height: auto;
  }

  .container {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    padding: 12px 15px;
  }

  .logo {
    width: 100%;
    justify-content: center;
  }

  .nav-links {
    width: 100%;
    justify-content: center;
    margin-left: 0;
    gap: 22px;
  }

  .nav-action {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
}

/* =========================
   Phone
========================= */
@media (max-width: 480px) {
  .logo img {
    height: 38px;
  }

  .logo span {
    font-size: 16px;
    white-space: normal;
    line-height: 1.1;
  }

  .nav-links {
    flex-wrap: wrap;
    gap: 12px 18px;
  }

  .nav-links a,
  .nav-action a {
    font-size: 16px;
  }
}